/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
h3 {
  font-size: 18px;
}
p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.component-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(214, 95, 95);
}

.blog-card {
  width: 340px;
  height: 504px;
  background-color: rgb(255, 217, 0);
  border-color: #000;
  border-width: black;
}
.top-card{
  width:100%;
  height: 288px;
  border-width: 2px;
  border-color: blue;
  border-style: solid;
  background-color: royalblue;
}
.bottom-card {
  height: 216px;
  border-width: 2px;
  border-color: rgb(9, 226, 103);
  border-style: solid;
  background-color: seagreen;
}

.bottom-north {
padding-left: 16px;
padding-right: 16px;
padding-top: 24px;
margin-bottom: 12px;
}
.bottom-south {

}
#readmore {
  
}
